@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
    margin: 0 10% 0 10%;
}

.commom-graph-style {
    position: absolute;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    padding: 0;    
}

#taskgraph {
    @extend .commom-graph-style;
}

#chartContainer {
    @extend .commom-graph-style;
}

#google-chart {
    @extend .commom-graph-style;
}