<div>
    <div>
        タスクのリスト
            <table>
              <tr>
                <th>タイトル</th>
                <th>タスクラベル</th>
                <th>タスクメモ</th>
                <th></th>
              </tr>
              <tr *ngFor="let task of taskList">
                <td (click)="update(task.itemName)"> {{ task.itemName }} </td>
                <td>{{ task.itemTag }}</td>
                <td>{{ task.note }}</td>
                <button mat-flat-button color="warn" (click)="complete(task.taskId)" >
                    <mat-icon svgIcon="thumb-up" aria-hidden="true" aria-label></mat-icon>
                </button>
              </tr>
              <tr>
                <td>{{ taskForm.get("itemNameControl").value }}</td>
                <td>{{ taskForm.get("itemTagControl").value }}</td>
                <td>{{ taskForm.get("noteControl").value }}</td>
              </tr>
            </table>
    </div>
    <form [formGroup]="taskForm" class="example-container">
        <mat-form-field>
            <input matInput formControlName="itemNameControl" type="text" name="itemName" placeholder="タイトル">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="itemTagControl" type="text" name="itemTag" placeholder="タグ">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="noteControl" type="text" name="note" placeholder="メモ">
        </mat-form-field>
        <button mat-button>追加</button>
    </form>
</div>