<div class="signin-form-container">
    <form [formGroup]="signinForm">
        <ul>
            <li>
                <!-- text-inputクラスはONSE UIの要素 -->
                <input class="text-input" formControlName="emailControl" type="text" name="email" placeholder="メールアドレス" >
            </li>
            <li>
                <!-- text-inputクラスはONSE UIの要素 -->
                <input class="text-input" formControlName="passwordControl" type="password" name="password" placeholder="パスワード" >
            </li>
        </ul>
    <button class="button button--outline" (click)="signin()" [disabled]="">サインイン</button>
    </form>
</div>
