<ons-page>
    <div class="example-container">
    <form [formGroup]="signinForm">
        <label>
                <input class="text-input" formControlName="emailControl" type="text" name="email" placeholder="メールアドレス" >
        </label>
        <label>
                <input class="text-input" formControlName="passwordControl" type="password" name="password" placeholder="パスワード" >
        </label>
        <button class="button button--outline" (click)="signin()" [disabled]="">サインイン</button>
    </form>
    </div>
</ons-page>
