<div>
    <nav class="task-manager-common-hedaer">
        <h1 class="task-manager-common-header-title ml-20">
                <a routerLink="/">Task Manager</a>
        </h1>
        <div class="task-manager-common-header-items">
            <a routerLink="/">トップページ</a>
            <a routerLink="dashboard">ダッシュボード</a>
            <a routerLink="signin">サインイン</a>
            <a routerLink="chart">チャート</a>
        </div>
    </nav>
    <router-outlet class="root-element">
    </router-outlet>
</div>