/* ---------------------- */
/*  共通系
* ---------------------- */
/* 枠線反映しない */
input, button {
    border-style: none;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* フォント共通設定 */
body {
    margin: 0;
    height: 100%;
    font-family: NotoSansCJKjp, メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
